<!DOCTYPE html>
<html>
  <head>
    <title>Appointment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbo-cache-control" content="no-preview">
    <%= tag.link  rel: "stylesheet", href: "https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" %>
    <%= tag.script src: "https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js", defer: true %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- injeta metas/estilos específicos de páginas (ex.: services/show) -->
    <%= yield :head %>
  </head>

  <!-- classe no body para definirmos --nav-h via CSS (role-pro vs role-default) -->
  <body class="<%= user_signed_in? && current_user.professional? ? 'role-pro' : 'role-default' %> d-flex flex-column min-vh-100">
    <%# Navbar %>
    <% if user_signed_in? && current_user.professional? %>
      <%= render "shared/pro_navbar" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <main class="app-main flex-fill">
      <%= render "shared/flashes" %>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
